<head>
    <title>Create a new photo album:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='albums.css') }}">
</head>
    <body>
            <form method="post" action="{{ url_for('manage_albums') }}">
                <div id="create album">
                    <h2> Create a new album:</h2>
                    
                        <label for="albumName">Name of your new album:</label>
                        <input type="albumName" name="albumName" /><br />
                        <br>
                        <input type="submit" name="btn" value="Create">
                </div>
                <div id="delete album">
                    <h2> Delete an album:</h2>
                        <label for="deleteAlbum"> Choose an album: </label>
                        <select name="deleteAlbum">
                            {% for item in data %}
                                <option value = {{item[0]}}> {{item[0]}} </option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <input type="submit" name="btn" value="Delete">
                </div>
            </form>
        </div>
        <br>
        <br>
        {% if message %}
        <h4>{{message}}!</h4>
        {% endif %}
    </body>

<footer> 
    <ul class="footer">
        <li><a href='/feed'>My Feed</a> </li>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/photos'>My Photos</a> </li>
        <li><a href='/friends'>Friends</a></li>
        <li><a href='/recommendations'>Recommendations</a></li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
</footer>
