<body>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <h1>See what others are posting:</h1>
    {% if photos %}
        <form method="post" action="{{ url_for('filter_by_album') }}">
            <label for="filterAlbum"> Filter by Album: </label>
            <select name="filterAlbum">
                {% for item in data %}
                    <option value = {{item[0]}}> {{item[0]}} </option>
                {% endfor %}
            </select>
            <input type=submit value=Filter>
        </form>
            <ul>
            {% for photo in photos %}
                <li> <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>  
                <br>
                    <a href={{url_for('like_photo', photo_id = photo[1]) }} style="text-decoration:none"> Likes: {{photo[3]}}</a>
                <br>
                    <label for="viewLikes"> See who liked this photo: </label>
                    <select name="viewLikes">
                        {% for item in photo[4] %}
                            <option value = {{item}}> {{item[0]}} {{item[1]}}, {{item[2]}}  </option>
                        {% endfor %}
                    </select>
                <br>
                <b> Caption: </b> {{photo[2]}} </li> 
                <br>
                <b> Comments: </b>
                <br>
                <form method="post" action="{{ url_for('add_comment', photo_id = photo[1]) }}">
                    <input type="text" name="comment" />
                    <button type="submit">Add Comment</button>
                    <!--<a href={{url_for('add_comment', photo_id = photo[1], comment_text = comment) }}> Comment</a> -->
                </form>
                <br>
                <ul>
                    {% for comment in photo[5] %}
                        <li><b>{{comment[0]}}:</b> {{comment[1]}}</li>
                        <br>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
    {% endif %}
    <br>
    <br>
    <form method="post" action="{{ url_for('search_comments') }}">
        <label for="search_comments">Search for Users by comment:</label>
        <input type="text" name="comment_text" />
        <button type="submit">Submit</button>
    </form>

    {% if comment_search %}
        
        <h4>Displaying results for '{{comm_text}}':</h4>
        
        <ul>
        {% for user in comment_search %}
            <li>{{user[0]}} {{user[1]}}, {{user[2]}}</li>
        {% endfor %}
        </ul>
    {% endif %}

</body>

<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/'>Home</a></li>
</ul>