<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if top_users %}
  <h4>Here are todays top users</h4>
  <ul>
    {% for user in top_users %}
      <li><b>{{user[0]}} {{user[1]}}</b>, <b>Score: </b>{{user[2]}}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/feed'>My Feed</a> </li>
<li><a href='/photos'>My Photos</a> </li>
<li><a href='/albums'>My Albums</a> </li>
<li><a href='/friends'>Friends</a></li>
<li><a href='/recommendations'>Recommendations</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
