<body>
    <h1>My Photos:</h1>
    <form method="post" action="{{ url_for('filter_my_photos_by_tag') }}">
        <label for="filterMineTag"> Filter by Tag: </label>
        <select name="filterMineTag">
            {% for item in tags %}
                <option value = {{item[0]}}> {{item[0]}} </option>
            {% endfor %}
        </select>
        <input type=submit value=Filter>
    </form>
    {% if photos %}
        <ul>
        {% for photo in photos %}
            <li> <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/> 
            <form action="{{ url_for('delete_photo', photo_id = photo[1]) }}" method=post>
                <input type=submit value=Delete>
            </form>
            <br>
            <b> Caption: </b> {{photo[2]}} </li> 
        {% endfor %}
        </ul>
    {% endif %}
</body>
<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/'>Home</a></li>
</ul>