<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='recommendations.css') }}">
</head>
<h1>Recommendations</h1>
<body>
    <div id="recommendations" action="{{ url_for('recommendations') }}" >
        <h2>People you may know:</h2>
        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <form method="post" action="{{ url_for('add_friend') }}" style="display: inline">
                <input type="hidden" name="addfriend" value="{{item[2]}}"/>
                <input type="submit" value="Add Friend" />
            </form>
            <br>
        </tr>
        <br>
        {% endfor %}
        <br>
        <h2>Photos you may like:</h2>
        {% for photo in photos %}
          <ul>
            <b> Artist: </b> {{photo[3][0]}} {{photo[3][1]}}
            <li> <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>  
            </ul>
            <b> Caption: </b> {{photo[2]}} </li>
            <br>
        {% endfor %}
    </div>
</body>

<footer> 
    <ul class="footer">
        <li class="footer"><a href='/upload'>Upload a photo</a> </li>
        <li class="footer"><a href='/feed'>My Feed</a> </li>
        <li class="footer"><a href='/photos'>My Photos</a></li>
        <li class="footer"><a href='/albums'>My Albums</a> </li>
        <li class="footer"><a href='/friends'>Friends</a></li>
        <li class="footer"><a href='/logout'>Logout</a></li>
        <li class="footer"><a href='/'>Home</a></li>
    </ul>
</footer>