<head>
    <title>Recommendations</title>
</head>
<h2>People you may know:</h2>
<body>
    <div id="recommendations" action="{{ url_for('recommendations') }}" >
        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <form method="post" action="{{ url_for('add_friend') }}" style="display: inline">
                <input type="hidden" name="addfriend" value="{{item[2]}}"/>
                <input type="submit" value="Add Friend" />
            </form>
            <br>
        </tr>
        <br>
        {% endfor %}
        <br>
        {% for photo in photos %}
          <ul>
            <b> Artist: </b> {{photo[3][0]}} {{photo[3][1]}}
            <li> <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/>  
            </ul>
            <b> Caption: </b> {{photo[2]}} </li>
            <br>
        {% endfor %}
    </div>
</body>

<a href='/'>Home</a>